@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

* {
    font-family: 'Indie Flower', cursive;
}

body, html {
    max-width: 800px;
    margin: 0 auto;
    text-align: center
}
button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#cat {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

#cat:hover {
  background-color: #4CAF50;
  color: white;
}

#dog {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

#dog:hover {
  background-color: #008CBA;
  color: white;
}
